<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhou_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{218,288}</string>
                <key>spriteSourceSize</key>
                <string>{228,300}</string>
                <key>textureRect</key>
                <string>{{553,155},{218,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,54}</string>
                <key>spriteSourceSize</key>
                <string>{142,54}</string>
                <key>textureRect</key>
                <string>{{931,326},{142,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_bottom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,63}</string>
                <key>spriteSourceSize</key>
                <string>{108,63}</string>
                <key>textureRect</key>
                <string>{{931,382},{108,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_bottom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,63}</string>
                <key>spriteSourceSize</key>
                <string>{108,63}</string>
                <key>textureRect</key>
                <string>{{931,447},{108,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_bottom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,63}</string>
                <key>spriteSourceSize</key>
                <string>{108,63}</string>
                <key>textureRect</key>
                <string>{{1041,382},{108,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_buyao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{801,347},{158,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_jiazhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,445}</string>
                <key>spriteSourceSize</key>
                <string>{184,445}</string>
                <key>textureRect</key>
                <string>{{367,1},{184,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_jiazhu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,344}</string>
                <key>spriteSourceSize</key>
                <string>{26,344}</string>
                <key>textureRect</key>
                <string>{{773,155},{26,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_jiazhu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{1190,193},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_jiazhu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{1190,287},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_minicard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{1106,416},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_next1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{367,448},{190,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_next1_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{951,1},{190,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_next2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{801,155},{190,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_next2_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{951,66},{190,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_next3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{866,155},{190,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_next3_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{559,445},{190,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_nextbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{951,131},{190,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_nextbg_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,63}</string>
                <key>spriteSourceSize</key>
                <string>{190,63}</string>
                <key>textureRect</key>
                <string>{{1143,1},{190,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_notebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,63}</string>
                <key>spriteSourceSize</key>
                <string>{108,63}</string>
                <key>textureRect</key>
                <string>{{1125,196},{108,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_notebg_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,63}</string>
                <key>spriteSourceSize</key>
                <string>{108,63}</string>
                <key>textureRect</key>
                <string>{{1125,306},{108,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{1208,138},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,32}</string>
                <key>spriteSourceSize</key>
                <string>{134,32}</string>
                <key>textureRect</key>
                <string>{{1091,196},{134,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_plue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{866,347},{158,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dezhou_pluebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{931,196},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{931,261},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_wel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,152}</string>
                <key>spriteSourceSize</key>
                <string>{396,152}</string>
                <key>textureRect</key>
                <string>{{553,1},{396,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,510}</string>
                <key>spriteSourceSize</key>
                <string>{364,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{364,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set_pai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{135,36}</string>
                <key>spriteSourceSize</key>
                <string>{139,36}</string>
                <key>textureRect</key>
                <string>{{1208,1},{135,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dzpk.png</string>
            <key>size</key>
            <string>{1249,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af5dcc1d0bbfc5af1a316372fe1535ca:287bf54b160f2db78b3a78c48a846328:819cba10760174c5a99dbb29182677f4$</string>
            <key>textureFileName</key>
            <string>dzpk.png</string>
        </dict>
    </dict>
</plist>
