<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizhu_bei_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,56}</string>
                <key>spriteSourceSize</key>
                <string>{278,56}</string>
                <key>textureRect</key>
                <string>{{228,159},{278,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_bujiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dizhu_chupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{65,1},{156,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dizhu_lose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,125}</string>
                <key>spriteSourceSize</key>
                <string>{356,125}</string>
                <key>textureRect</key>
                <string>{{637,1},{356,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_lose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,125}</string>
                <key>spriteSourceSize</key>
                <string>{356,125}</string>
                <key>textureRect</key>
                <string>{{637,128},{356,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_paishubg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,90}</string>
                <key>spriteSourceSize</key>
                <string>{67,90}</string>
                <key>textureRect</key>
                <string>{{1,159},{67,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_qiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{70,159},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_qiang_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{129,1},{156,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dizhu_wel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,152}</string>
                <key>spriteSourceSize</key>
                <string>{378,152}</string>
                <key>textureRect</key>
                <string>{{257,1},{378,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_win1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,125}</string>
                <key>spriteSourceSize</key>
                <string>{356,125}</string>
                <key>textureRect</key>
                <string>{{995,1},{356,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_win2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,125}</string>
                <key>spriteSourceSize</key>
                <string>{356,125}</string>
                <key>textureRect</key>
                <string>{{995,128},{356,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu_yaobuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{193,1},{156,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddz.png</string>
            <key>size</key>
            <string>{1352,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8a215ab4e0965c99e6afc4eb5f14db:4a2d3c1468cc8d8dc7287c5b45a27e7c:765b8ea722ae3a75765a62e87f3c2342$</string>
            <key>textureFileName</key>
            <string>ddz.png</string>
        </dict>
    </dict>
</plist>
