<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,59}</string>
                <key>spriteSourceSize</key>
                <string>{90,59}</string>
                <key>textureRect</key>
                <string>{{254,739},{90,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Num10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,59}</string>
                <key>spriteSourceSize</key>
                <string>{90,59}</string>
                <key>textureRect</key>
                <string>{{263,834},{90,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Num11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,57}</string>
                <key>spriteSourceSize</key>
                <string>{90,57}</string>
                <key>textureRect</key>
                <string>{{4,872},{90,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,57}</string>
                <key>spriteSourceSize</key>
                <string>{90,57}</string>
                <key>textureRect</key>
                <string>{{327,834},{90,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,59}</string>
                <key>spriteSourceSize</key>
                <string>{90,59}</string>
                <key>textureRect</key>
                <string>{{318,739},{90,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,59}</string>
                <key>spriteSourceSize</key>
                <string>{89,59}</string>
                <key>textureRect</key>
                <string>{{389,733},{89,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{144,674},{90,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{168,859},{90,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,60}</string>
                <key>spriteSourceSize</key>
                <string>{89,60}</string>
                <key>textureRect</key>
                <string>{{239,674},{89,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,60}</string>
                <key>textureRect</key>
                <string>{{189,739},{90,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,59}</string>
                <key>spriteSourceSize</key>
                <string>{90,59}</string>
                <key>textureRect</key>
                <string>{{333,669},{90,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,59}</string>
                <key>spriteSourceSize</key>
                <string>{89,59}</string>
                <key>textureRect</key>
                <string>{{389,827},{89,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{99,860},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_exit_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{70,541},{208,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,37}</string>
                <key>spriteSourceSize</key>
                <string>{101,37}</string>
                <key>textureRect</key>
                <string>{{70,754},{101,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,37}</string>
                <key>spriteSourceSize</key>
                <string>{101,37}</string>
                <key>textureRect</key>
                <string>{{112,754},{101,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{405,541},{23,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{144,541},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,61}</string>
                <key>spriteSourceSize</key>
                <string>{326,61}</string>
                <key>textureRect</key>
                <string>{{4,541},{326,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,532}</string>
                <key>spriteSourceSize</key>
                <string>{446,532}</string>
                <key>textureRect</key>
                <string>{{4,4},{446,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qrcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{277,541},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,30}</string>
                <key>spriteSourceSize</key>
                <string>{115,30}</string>
                <key>textureRect</key>
                <string>{{154,739},{115,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>joinroom.png</string>
            <key>size</key>
            <string>{454,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f364087ceecfe8c89ab1bd03e7cd8f1:456d62c6f4adfcb49557d7e2ee9d0e3d:98108ee250cfff95c0876badd04ae26f$</string>
            <key>textureFileName</key>
            <string>joinroom.png</string>
        </dict>
    </dict>
</plist>
