<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>agentBtn_pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,88}</string>
                <key>spriteSourceSize</key>
                <string>{278,88}</string>
                <key>textureRect</key>
                <string>{{1,1652},{278,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,45}</string>
                <key>spriteSourceSize</key>
                <string>{739,45}</string>
                <key>textureRect</key>
                <string>{{449,479},{739,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{973,444}</string>
                <key>spriteSourceSize</key>
                <string>{973,444}</string>
                <key>textureRect</key>
                <string>{{1,677},{973,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,446}</string>
                <key>spriteSourceSize</key>
                <string>{674,446}</string>
                <key>textureRect</key>
                <string>{{1,1},{674,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,58}</string>
                <key>spriteSourceSize</key>
                <string>{140,58}</string>
                <key>textureRect</key>
                <string>{{449,145},{140,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCloseSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{449,287},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClostBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{163,1864},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnConfirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,59}</string>
                <key>spriteSourceSize</key>
                <string>{142,59}</string>
                <key>textureRect</key>
                <string>{{449,1},{142,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCreate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,70}</string>
                <key>spriteSourceSize</key>
                <string>{168,70}</string>
                <key>textureRect</key>
                <string>{{91,1763},{168,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCreateRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{322,99}</string>
                <key>spriteSourceSize</key>
                <string>{336,99}</string>
                <key>textureRect</key>
                <string>{{163,1763},{322,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnJoinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{334,98}</string>
                <key>spriteSourceSize</key>
                <string>{348,98}</string>
                <key>textureRect</key>
                <string>{{91,1652},{334,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{47,66}</string>
                <key>spriteSourceSize</key>
                <string>{49,66}</string>
                <key>textureRect</key>
                <string>{{449,343},{47,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRecord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{449,411},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,67}</string>
                <key>spriteSourceSize</key>
                <string>{45,67}</string>
                <key>textureRect</key>
                <string>{{447,1548},{45,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{447,1617},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{163,1864},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{238,1864},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{427,1685},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{318,1864},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconGem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{345,1864},{25,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconNotice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{238,1904},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,28}</string>
                <key>spriteSourceSize</key>
                <string>{127,28}</string>
                <key>textureRect</key>
                <string>{{272,1904},{127,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputBgNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,61}</string>
                <key>spriteSourceSize</key>
                <string>{326,61}</string>
                <key>textureRect</key>
                <string>{{447,1220},{326,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{278,1864},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newRes.png</string>
            <key>size</key>
            <string>{509,1938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af9a8484c2441693f64062ce9021632:961fd31729e989bbd4c463a760f83cc6:5426a78263dc66d2fce6ebf902d4ef10$</string>
            <key>textureFileName</key>
            <string>newRes.png</string>
        </dict>
    </dict>
</plist>
