<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnCreateRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{381,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,137}</string>
                <key>textureRect</key>
                <string>{{4,4},{381,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnJoinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{397,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,137}</string>
                <key>textureRect</key>
                <string>{{4,248},{397,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReturnRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{381,115}</string>
                <key>spriteSourceSize</key>
                <string>{397,137}</string>
                <key>textureRect</key>
                <string>{{4,128},{381,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>codeDisable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{128,509},{124,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>codeEnable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{193,509},{124,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{128,248},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>urlDisable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{258,509},{124,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>urlEnable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{258,574},{124,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newui.png</string>
            <key>size</key>
            <string>{389,649}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:803b101dff240a9f4ca395f7536ce5db:5d1e0f0fa87ea020be1499e2c6dd1133:5df9c651bf5a2824e9b22415c16c54cc$</string>
            <key>textureFileName</key>
            <string>newui.png</string>
        </dict>
    </dict>
</plist>
