<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>douniu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1349,283},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{875,216},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1378,1},{92,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>douniu_1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1121,441},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1378,95},{92,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>douniu_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1378,189},{92,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>douniu_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1100,343},{92,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1035,376},{92,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1260,315},{92,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1129,376},{92,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1238,348},{92,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,31}</string>
                <key>spriteSourceSize</key>
                <string>{92,31}</string>
                <key>textureRect</key>
                <string>{{1223,381},{92,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{875,281},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{691,353},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{875,346},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,39}</string>
                <key>spriteSourceSize</key>
                <string>{172,39}</string>
                <key>textureRect</key>
                <string>{{691,418},{172,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_btnbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{865,411},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_buqiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,49}</string>
                <key>spriteSourceSize</key>
                <string>{98,49}</string>
                <key>textureRect</key>
                <string>{{1260,213},{98,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_math.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,59}</string>
                <key>spriteSourceSize</key>
                <string>{353,59}</string>
                <key>textureRect</key>
                <string>{{693,155},{353,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{1035,216},{158,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>douniu_qiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,49}</string>
                <key>spriteSourceSize</key>
                <string>{87,49}</string>
                <key>textureRect</key>
                <string>{{1260,264},{87,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_san.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{1100,213},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_shi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{158,63}</string>
                <key>textureRect</key>
                <string>{{1100,278},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_wancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,30}</string>
                <key>spriteSourceSize</key>
                <string>{61,30}</string>
                <key>textureRect</key>
                <string>{{1025,414},{61,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>douniu_wel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,152}</string>
                <key>spriteSourceSize</key>
                <string>{396,152}</string>
                <key>textureRect</key>
                <string>{{693,1},{396,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_wuhua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{1057,409},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_wuxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{1057,441},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_zhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{1121,409},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>douniu_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,180}</string>
                <key>spriteSourceSize</key>
                <string>{135,180}</string>
                <key>textureRect</key>
                <string>{{693,216},{135,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lose_anim_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-69}</string>
                <key>spriteSize</key>
                <string>{690,236}</string>
                <key>spriteSourceSize</key>
                <string>{720,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{690,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{851,353},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1361,381},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1183,453},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini_num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1376,348},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1381,379},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1350,414},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1291,447},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini_num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1322,445},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini_num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1353,445},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1374,412},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_numx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{1218,447},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1194,343},{31,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1247,447},{23,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1048,155},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1354,315},{31,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1332,348},{31,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1317,381},{31,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1185,409},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1306,414},{29,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1218,414},{31,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{1262,414},{31,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,285}</string>
                <key>spriteSourceSize</key>
                <string>{210,285}</string>
                <key>textureRect</key>
                <string>{{1091,1},{210,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>win_anim_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{688,236}</string>
                <key>spriteSourceSize</key>
                <string>{720,270}</string>
                <key>textureRect</key>
                <string>{{1,239},{688,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dn.png</string>
            <key>size</key>
            <string>{1410,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d31b610ca9e59169c80d0030b7db2db:c7e3c15fad9011013512d23a1b4b4889:56cec1306916551bc03a6255b0ad4e37$</string>
            <key>textureFileName</key>
            <string>dn.png</string>
        </dict>
    </dict>
</plist>
