<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,112}</string>
                <key>spriteSourceSize</key>
                <string>{78,116}</string>
                <key>textureRect</key>
                <string>{{1204,1},{78,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{1204,115},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_scene_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{1204,165},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shangcheng6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1201,499}</string>
                <key>spriteSourceSize</key>
                <string>{1201,499}</string>
                <key>textureRect</key>
                <string>{{1,1},{1201,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wh.png</string>
            <key>size</key>
            <string>{1283,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfe39c1b025c466c00405bbeeba0e027:421507b1bb8ca26e8446fd661a68edca:d5e8f009d6842475c6dfdacb2dcc1a4c$</string>
            <key>textureFileName</key>
            <string>wh.png</string>
        </dict>
    </dict>
</plist>
