<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jbs_baoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,108}</string>
                <key>spriteSourceSize</key>
                <string>{218,108}</string>
                <key>textureRect</key>
                <string>{{1205,91},{218,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_baoming1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,108}</string>
                <key>spriteSourceSize</key>
                <string>{218,108}</string>
                <key>textureRect</key>
                <string>{{1205,311},{218,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_baoming2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,108}</string>
                <key>spriteSourceSize</key>
                <string>{218,108}</string>
                <key>textureRect</key>
                <string>{{1315,91},{218,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_baoming3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,108}</string>
                <key>spriteSourceSize</key>
                <string>{218,108}</string>
                <key>textureRect</key>
                <string>{{1315,311},{218,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1202,563}</string>
                <key>spriteSourceSize</key>
                <string>{1202,563}</string>
                <key>textureRect</key>
                <string>{{1,1},{1202,563}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_dou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{1425,201},{200,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_dou_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{1744,250},{86,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_ing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,108}</string>
                <key>spriteSourceSize</key>
                <string>{218,108}</string>
                <key>textureRect</key>
                <string>{{1425,91},{218,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_ma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{194,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{1425,277},{194,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_ma_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{1744,338},{86,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,88}</string>
                <key>spriteSourceSize</key>
                <string>{600,88}</string>
                <key>textureRect</key>
                <string>{{1205,1},{600,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_zha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{194,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{1425,355},{194,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_zha_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{124,46}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{1645,91},{124,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_zuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{113,77}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1503,426},{113,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jbs_zuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1645,139},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_zuan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1627,250},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbs_zuanq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{113,77}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{1503,426},{113,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jbs.png</string>
            <key>size</key>
            <string>{1806,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e7bc213b71ca4b64f6f542c8abcabc:b81b8293c8cd8a58616870dfad339ab0:cadc366802026c16d5c5c91e6aa57f88$</string>
            <key>textureFileName</key>
            <string>jbs.png</string>
        </dict>
    </dict>
</plist>
